footer{
    background-image: url("./../../public/images/download.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   
    position: relative;
    z-index: 1;
}

.information {
    background: #2e4092;
    color: #fff;
    padding: 40px;
    border-radius: 50px;
    position: relative;
    top: -80px;
    z-index: 9;
}


.info-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}


ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.footerli:not(:last-child){
    border-left: 1px solid #fff;
} 



 .info-footer li:not(:last-child) {
    border-left: 1px solid #fff;
}

.info-footer li {
    padding: 6px 40px;
    font-size: 18px;
}


footer .logo-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block-start: 130px;
}

footer .copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ffffff69;
    padding-block: 20px;
    margin-block-start: 150px;
    position: relative;
    color: #fff;
}

